html, body {
  height: 100%;
  margin: 0;

}

.app-shell {
  display: flex;
  min-height: 100vh;   
}

.main-content {
  margin-left: 210px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.properties-section {
  flex: 1;             
  padding-bottom: 50px; 
}