@import "tailwindcss";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  font-family: Arial, sans-serif;
}
@keyframes forgotModal {
  from {
    opacity: 0;
    transform: translateY(-15px) scale(0.97);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}